.topMenu {
    background: #222;
    height: 50px;
    display: flex;
    justify-content: center;
}
.topMenu img {
    height: 70px;
    width: auto;
    margin-top: 20px;
    align-self: center;
    border: 10px solid #222;
    border-radius: 50%;
}

  
